body {
  min-height: 100vh;
  background-image: url("./blobs.svg");
  background-repeat: no-repeat;
}

.imgAnim {
  animation: 2s fadeIn;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.stck {
  border-radius: 40px;
  opacity: 1;
}
